.App {
  font-family: sans-serif;
}

.AddBtn {
  border-color: #388e3c;
  background-color: #388e3c;
  color: white;
}

.RemoveBtn {
  margin-left: 8px;
}

.EventsList {
  padding: 8px;
  font-size: 12px;
}

.TodoList {
  padding: 8px;
}

.Checked {
  text-decoration: line-through;
}

.AddTodoControl {
  padding: 8px;
}
